.input_container {
  margin: 0;
  padding: 1rem;
  width: 400px;
  background: #7e97d1;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.25rem;
}

.input_container input {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #1a1e26;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
}

.error {
  color: #c61313;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.disable {
  opacity: 0.5;
}
